<div class="faq-contact pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-before sp-after">Publications</span>
            <h2>Tell Us Anything</h2>
        </div>

        <div class="row pt-45 align-items-center">

            <div class="col-lg-12 col-md-12">
                <div class="faq-contact-wrap">
                    <div class="contact-form">
                        <form id="contactForm">
                            <div class="row">
                             

                              

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <i class='bx bx-file'></i>
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Your Title"  [(ngModel)]="pub.title">
                                    </div>
                                    
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                <label style="color: grey; margin-left: 150px;">
                                    <input type="checkbox" (ngModelChange)="onCheckboxChange($event)" [(ngModel)]="isChecked" name="isChecked"> Disable Comments</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <i class='bx bx-envelope'></i>
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" required placeholder="Your Message"  [(ngModel)]="pub.contenu"></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12">
                                    <button (click)="add()" type="submit" class="default-btn border-radius">Publish<i class='bx bx-plus'></i></button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>