<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3></h3>

            <ul class="inner-list">
                <li><i class='bx bx-user'></i> {{pub.user.username}}</li>
                <li><i class='bx bx-calendar'></i> November 21, 2020</li>
                <li><i class='bx bxs-chat'></i> {{pub.commentaires.length}} Comments</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots-2"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="blog-details-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/blog-details.jpg" alt="Images">
                    </div>

                 

                    <div class="container">
                       <div class="row">
                        <div class="col">
                        <h2>{{pub.title}}</h2>
                        <p>{{pub.contenu}}</p>
                    </div>
                    <div class="col">
                        <ng-container *ngIf="liked==0">
                            <button style=" margin-left: 250px; color: green; outline: none; border: none; border-radius: 50%;" (click) = "Reaction('Like',pub.idPub,pub.user.id)"><i style="size: 100px;" class="fa fa-thumbs-up fa-4x" aria-hidden="true"></i></button>
                        </ng-container>
                        <ng-container *ngIf="liked==1">
                            <button style="margin-left: 250px;color: red; outline: none;border: none; border-radius: 50%;" (click) = "Reaction('Dislike',pub.idPub,pub.user.id)"><i class="fa fa-thumbs-down fa-4x" aria-hidden="true"></i></button>
                        </ng-container>
                    </div>
                     </div>
                    </div>
                    

                    <div class="article-author">
                        <ul>
                            <li>
                                <img src="assets/img/blog/blog-profile1.png" alt="Image">
                                <h3>{{pub.user.username}}</h3>
                                <span>{{pub.user.email}}</span>
                                <p>I’m devit  hack from an initial feasibility study, continuing through sucessl implna business you have to be But we know there</p>
                            </li>
                        </ul>
                        <div class="author-social-link">
                            <ul class="social-icon">
                                <li><a target="_blank" href="#"><i class="bx bxl-facebook"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-twitter"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-instagram"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="author-shape">
                            <div class="shape1"><img src="assets/img/blog/blog-shape.png" alt="Images"></div>
                            <div class="shape2"><img src="assets/img/blog/blog-shape2.png" alt="Images"></div>
                            <div class="shape-dots"><img src="assets/img/blog/blog-dots.png" alt="Images"></div>
                        </div>
                    </div>

                    <div class="article-post">
                        <div class="row">
                            <div *ngFor = "let p of PublSimilaires" class="col-lg-6 col-sm-6">
                                <div class="article-post-share">
                                    <span>{{p.title}}</span>
                                    <a><h3>{{p.contenu}}</h3></a>
                                </div>
                            </div>

                           
                        </div>
                    </div>

                    <div class="comments-wrap">
                        <h3 class="title">Comments ({{pub.commentaires.length}})</h3>

                        <ul>
                            <li *ngFor = "let cmnt of pub.commentaires">
                                <img src="assets/img/blog/blog-profile1.png" alt="Image">
                                <h3>{{cmnt.user.username}}</h3>
                                <span>{{cmnt.dateCmnt|date}}</span>
                               <p>{{cmnt.contenu}}</p>
                            </li>
                            <li class="ml-30">
                           
                        </ul>
                    </div>

                    <div *ngIf="!pub.bloquercmnt" class="comments-form">
                        <div class="contact-form">
                            <h3>Leave a Comment</h3>

                            <form id="contactForm">
                                <div class="row">
                                   
        
                                    
        
                                    

                                  
        
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <i class='bx bx-envelope'></i>
                                            <textarea name="message" [(ngModel)]="commentaire.contenu" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" (click)="addCommentaire()" class="default-btn">Post A Comment <i class='bx bx-plus'></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div *ngIf="pub.bloquercmnt" class="comments-form">
                        <div class="contact-form">
                            <h3>Comments are disabled by author :/</h3>

                            <form id="contactForm">
                                <div class="row">
                                   
        
                                    
        
                                    

                                  
        
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <i class='bx bx-envelope'></i>
                                            <textarea disabled name="message" [(ngModel)]="commentaire.contenu" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-12 col-md-12">
                                        <button disabled type="submit" (click)="addCommentaire()" class="btn btn-primary disabled">Post A Comment <i class='bx bx-plus'></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="blog-widget-left">
                
                    <button *ngIf="isFavorite" style="margin-left: 130px;margin-bottom: 50px; background-color: red;" type="submit" (click)="addFavoris()" disabled class="btn btn-danger">already in favoris <i class='fa fa-heart-o'></i></button>
                    <button *ngIf="isFavorite==false" style="margin-left: 130px;margin-bottom: 50px;" type="submit" (click)="addFavoris()"   class="default-btn">add to favoris <i class='fa fa-heart-o'></i></button>
                    <ng-template #elseBlock>
                        <div>
                          Le contenu du div est affiché si la variable est nulle.
                        </div>
                      </ng-template>
                    <div class="blog-widget">
                        <h3 class="title">Recent Posts</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <span>Jnauary 12, 2020</span> 
                                    <h4 class="title-text"><a routerLink="/blog-details">A Guide to Google SEO</a></h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>

                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <span>June 30, 2020</span>
                                    <h4 class="title-text"><a routerLink="/blog-details">15 SEO Best Practices</a></h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>

                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <span>April 09, 2020</span>
                                    <h4 class="title-text"><a routerLink="/blog-details">Website Architecture</a> </h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="blog-widget">
                        <h3 class="title">Categories</h3>

                        <div class="widget_categories">
                            <ul>
                                <li><a routerLink="/blog">Design <span>(1)</span></a></li>
                                <li><a routerLink="/blog">Lifestyle <span>(4)</span></a></li>
                                <li><a routerLink="/blog">Camping <span>(3)</span></a></li>
                                <li><a routerLink="/blog">Support <span>(2)</span></a></li>
                                <li><a routerLink="/blog">Device <span>(6)</span></a></li>
                                <li><a routerLink="/blog">Internet <span>(18)</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="blog-widget">
                        <h3 class="title">Tags</h3>

                        <ul class="blog-widget-tag">
                            <li><a routerLink="/blog">#SEO</a></li>
                            <li><a routerLink="/blog">#Internet</a></li>
                            <li><a routerLink="/blog">#Web</a></li>
                            <li><a routerLink="/blog">#Sass</a></li>
                            <li><a routerLink="/blog">#It & Support</a></li>
                            <li><a routerLink="/blog">#Tik</a></li>
                            <li><a routerLink="/blog">#Tips</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-logo-area pt-100">
    <div class="container-fluid">
        <div class="container-max">
            <div class="brand-logo-slider owl-carousel owl-theme">
                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo1.png" alt="Images">
                </div>
                
                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo2.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo3.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo4.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo5.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo6.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-two></app-footer-style-two>